@import "normalizez.scss"
@import "resets.scss"

@font-face
    font-family: "Mus"
    src: url("../fonts/MuseoSansCyrl-500.ttf")

@font-face
    font-family: "Lemon"
    src: url("../fonts/lemonmilkrus-by-lyajka.ttf")

$white: #FFFFFF
$grad: linear-gradient(to right, #2C97D4, #D32286)
.body
   background-color: #100B1E
   font-family: "Mus"
   position: relative
   overflow-x: hidden

.grad-btn
    border: none
    background: $grad
    border-radius: 31px

.text
    color: $white
    font-size: 24px

.white-title
    color: $white
    font-size: 48px
    font-family: "Lemon"

.gradient 
	color: transparent 
	-webkit-background-clip: text
	background-clip: text
	background-image: linear-gradient(to right, #2C97D4, #D32286)
    

.container
    max-width: 1140px
    margin: 0 auto
    padding: 0px
    padding-left: 15px
    padding-right: 15px

.nav-text
    font-size: 20px
    color: $white
    margin-right: 40px
    margin-left: 40px
    text-decoration: none
    cursor: pointer
    z-index: 1
    &:hover
        color: #9052A6
    &:last-child
        margin-right: 0px
    &:first-child
        margin-left: 0px
.nav__line
    width: 48px
    height: 1px
    color: $white

.first-section
    position: relative
    overflow: hidden
    &__nav-container
        padding-top: 48px
        display: flex
        flex-direction: row
        justify-content: center
    &__content-container
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &__btn
        width: 231px
        height: 66px
        margin-bottom: 46px
    &__btn-link
        color: $white
        font-size: 20px
        text-decoration: none
        &:hover
            color: $white
    &__left-perple
        position: absolute
        top: -300px
        left: 600px
        z-index: -3
    &__left-lines
        position: absolute
        top: -270px
        left: 1100px
        z-index: -1
    &__right-perple
        position: absolute
        top: 400px
        left: -200px
        z-index: -3
    &__right-lines
        position: absolute
        left: -250px
        top: 420px
    &__video
        padding-top: 20px
        padding-bottom: 100px
        width: 1200px
        height: 809px
    &__scroll
        margin-bottom: 196px

.second-section
    position: relative
    overflow: hidden
    &__content-container
        margin-bottom: 60px
    &__first-title
        text-align: right
    &__second-title
        font-size: 54px
        font-family: "Lemon"
        text-align: right
    &__first-text
        text-align: right
        margin-bottom: 40px
    &__second-text
        text-align: right
    &__wrapper-container
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    &__perple
        position: absolute
        top: -100px
        left: 1000px
        z-index: -3

.third-section
    margin-bottom: 160px
    z-index: 1
    &__content-container
        border: 3px solid black
        border-image: linear-gradient(to bottom, #2C97D4, #D32286)
        border-image-slice: 1
        border-radius: 20px
        min-height: 904px
    &__first-title
        margin-bottom: 0px
        text-align: right
    &__second-title
        font-size: 54px
        font-family: "Lemon"
        margin-bottom: 0px
        text-align: right
    &__third-title
        font-size: 54px
        font-family: "Lemon"
        margin-bottom: 0px
        text-align: right
    &__wrapper-container
        padding-top: 100px
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
    &__right-wrapper
        width: 400px
        display: flex
        flex-direction: column
        align-items: flex-end
    &__left-wrapper
        width: 400px
        position: relative
        margin-right: 360px
    &__text
        font-size: 20px
        width: 100%
        text-align: right
    &__ramka
        position: absolute
        top: -230px
        width: 400px
    &__img
        width: 380px

.four-section
    overflow: hidden
    &__wrapper-box
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-bottom: 160px
    &__title
        font-size: 54px
        font-family: "Lemon"
    &__video-btn
        background-color: rgba(0,0 ,0 ,0 )
        border: none
    &__img
        width: 100%
    &__left-wrapper
        max-width: 400px

.five-section
    &__content-container
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 200px
    &__title
        margin: 0 auto
        text-align: center
        margin-bottom: 100px
    &__img
        width: 100%
    &__carousel-caption
        border-radius: 22px
        background-color: rgba(76, 14, 57, 0.4)
    

.six-section
    margin-bottom: 120px
    &__content-container
        background: url("../icons/6.svg") center
        background-repeat: repeat-y
        
    &__bgc-container
        background: url("../img/bgc_2.png") center
        background-repeat: no-repeat
        background-size: contain
        display: flex
        justify-content: center
        align-items: center
        z-index: 1
    &__carusel-container
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 120px
        padding-top: 120px
    &__title
        font-size: 54px
        font-family: "Lemon"
        margin-bottom: 120px
        text-align: center

.seven-section
    overflow: hidden
    position: relative
    &__content-container
        margin-bottom: 300px
    &__wrapper-container
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    &__title
        margin-bottom: 120px
    &__first-text
        margin-bottom: 20px
    &__second-text
        margin-bottom: 120px
    &__btn
        color: $white
        width: 337px
        height: 66px
        font-size: 20px
    &__krestiki
        position: absolute
        top: 140px
        left: 1100px
        z-index: -3
    &__link
        text-decoration: none
        color: $white
        &:hover
            color: $white

.eight-section
    &__title
        text-align: center
        font-size: 54px
        font-family: "Lemon"
        margin-bottom: 80px
    &__grid-img
        width: 300px

.grid-container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-row-gap: 160px
    margin-bottom: 160px
    align-items: center
    justify-items: center

.footer
    &__img-container
       border: 3px solid black
       border-image: linear-gradient(to bottom, #2C97D4, #D32286)
       border-image-slice: 1
       border-radius: 20px
    &__content-container
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        padding-top: 40px
        padding-bottom: 40px
    &__text
        text-decoration: none
        cursor: pointer
        &:hover
            color: $white
    &__line
        width: 252px
        border-top: 3px solid #FEFEFE
    &__right-wrapper
        display: flex
        flex-direction: row
    &__icons
        margin-right: 40px
        
.krestiki
    position: absolute
    top: 1400px
    z-index: -3

.krug1
    position: absolute
    top: 2400px
    left: -600px
    z-index: -3

.krug2
    position: absolute
    position: absolute
    top: 3400px
    left: 1400px
    z-index: -3

.p1
    position: absolute
    top: 2800px
    left: -400px
    z-index: -4

.p2
    position: absolute
    top: 3200px
    left: 900px
    z-index: -4

.p3
    position: absolute
    top: 4600px
    left: 500px
    z-index: -4

.p4
    position: absolute
    top: 5600px
    left: -300px
    z-index: -4

.p5
    position: absolute
    top: 6000px
    left: 500px
    z-index: -4

.p6
    position: absolute
    top: 7000px
    left: -400px
    z-index: -4

.p7
    position: absolute
    top: 7600px
    left: 700px
    z-index: -4

.krug3
    position: absolute
    top: 7900px
    left: 1100px
    z-index: -4
.sim-slider 
    position: absolute
    top: -210px
    left: 10px

.sim-slider-list 
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;


.sim-slider-element 
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block

.contact-section
    position: fixed
    z-index: 100
    bottom: 20px
    right: 20px
    background: transparent
    color: white
    border: none
    padding: 15px 32px
    cursor: pointer
    display: flex
    flex-direction: column
    align-items: center
    &__text
        text-transform: uppercase
        color: #2FB347
.test
    border-radius: 100px
    border: 5px solid #2FB347
    background: transparent
    width: 70px
    height: 70px
    margin-bottom: 20px

.btn-icon
    width: 40px
    height: 40px

@media (max-width: 991px)
    br
        display: none
    .container
        width: 720px
    .sim-slider
        width: 200px
    .first-section
        &__scroll
            margin-bottom: 100px
    .second-section
        &__img
            max-width: 400px
        &__right-wrapper
            max-width: 50%
        &__second-title
            font-size: 48px
    .text
        font-size: 16px
    .white-title
        font-size: 40px
    .third-section
        &__content-container
            min-height: 1204px
        &__first-title
            text-align: center
        &__second-title
            font-size: 48px
            text-align: center
        &__third-title
            font-size: 48px
            text-align: center
        &__img
            width: 300px
        &__ramka
            width: 320px
            position: absolute
            top: -10px
            left: 0px
        &__wrapper-container
            flex-direction: column-reverse
            align-items: center
            justify-content: center
            padding-top: 20px
        &__right-wrapper
            margin-bottom: 40px
        &__left-wrapper
            margin-right: 0px
        &__text
            text-align: center
    .four-section
        &__img
            max-width: 400px
        &__title
            font-size: 48px
        &__link
            width: 60px
            height: 60px
    .five-section
        &__title
            margin-bottom: 60px
    .six-section
        &__title
            font-size: 48px
            margin-bottom: 80px
    .carousel
        width: 100%
    .sim-slider
        position: absolute
        top: 10px
    .seven-section
        &__title
            margin-bottom: 80px
        &__right-wrapper
            max-width: 50%
        &__img
            max-width: 400px
        &__wrapper-container
            align-items: center
        &__second-text
            margin-bottom: 60px
        &__content-container
            margin-bottom: 120px
    .eight-section
        &__title
            font-size: 48px
    .grid-container
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(508px, 1fr))
        gap: 10px
        grid-auto-rows: minmax(100px, auto)
        grid-row-gap: 24px
        margin-bottom: 64px

@media (max-width: 767px)
    .container
        width: 540px
    .nav-text
        font-size: 16px
        margin: 10px
    .nav
        &__line
            margin: 0px
    .first-section
        &__nav-container
            display: flex
            flex-direction: row
            align-items: center
        &__video
            width: 100%
    .second-section
        &__first-title
            text-align: center
        &__second-title
            text-align: center
        &__wrapper-container
            flex-direction: column-reverse
        &__first-text
            text-align: center
            width: 100%
        &__second-text
            text-align: center
            width: 100%
        &__right-wrapper
            max-width: 100%
    .third-section
        &__right-wrapper
            align-items: center 
            width: 100%
    .four-section
        &__wrapper-box
            flex-direction: column-reverse
        &__text
            text-align: center
        &__title
            text-align: center
        &__left-wrapper
            display: flex
            flex-direction: column
            justify-content: center
    .seven-section
        &__img
            display: none
        &__left-wrapper
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
        &__first-text
            text-align: center
        &__second-text
            text-align: center
        &__title
            text-align: center


@media (max-width: 575px)
    .container
        width: 100%
        padding: 15px
    .first-section
        &__video
            height: 400px
        &__right-perple
            top: 10px
            left: -300px
        &__right-lines
            top: 80px
            width: 300px
            left: -100px
    .white-title
        font-size: 32px
    .second-section
        &__second-title
            font-size: 36px
            margin-bottom: 40px
    .third-section
        &__second-title
            font-size: 36px
        &__third-title
            font-size: 36px
            margin-bottom: 40px
    .four-section
        &__title
            font-size: 36px
    .six-section
        &__title
            font-size: 36px
        &__carusel-container
            margin-bottom: 0px
    .eight-section
        &__title
            font-size: 36px